#header {
  color: purple;
  width: 100%;
  /* height: 30%; */
}

#content {
  color: palevioletred;
  /* width: */
  /* height: */
}

#left {
  color: turquoise;
  /* width: */
  /* height: */
}

#right {
  color: greenyellow;
  /* width: */
  /* height: */
}

#footer {
  color: plum;
  /* width: */
  /* height: */
}